body, html {
	background-color: #27ae60;
}

body h1,
body h2,
body h3,
body h4 {
  color: rgba(255, 255, 255, 1.0);
}
body p,
body blockquote {
  color: rgba(255, 255, 255, 1.0);
}

body a {
  color: #12e66c;
  text-decoration: underline;
}
body a:hover {
  color: #fff;
  text-decoration: underline;
}

figure {
	margin-top:20px;
}

figcaption {
	margin-top:20px;
	color:white;
	font-weight: normal;
}

#demo1editor {
	position: relative;
	font-family: Menlo, Monaco, Consolas, monospace;
	font-size:16px;
	height: 300px;
	margin-top:10px;
	margin-bottom:10px;
}
